* {
  font-family: 'Helvetica', sans-serif;
  background-color: orange;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#cave {
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  border: 3px outset gainsboro;
  border-radius: 20px;
  height: 100px;
  width: 125px;
  padding: 1rem;
  background-color: lemonchiffon;
  color: orange;
} 

#results {
  width: 50vw;
  border: none;
}

#crave {
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  border: 3px outset gainsboro;
  border-radius: 20px;
  height: 100px;
  width: 125px;
  padding: 1rem;
  background-color: lemonchiffon;
  color: orange;
} 
