* {
  font-family: 'Helvetica', sans-serif;
  background-color: burlywood;
  color: white;
}

body {
  width: 100vw;
  margin: 0;
  padding: 1vw;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 99vw;
  margin-bottom: 1rem;
}

#cave, #crave {
  width: 250px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  border: 3px outset gainsboro;
  height: 200px;
  background-color: firebrick;
  color: gainsboro;
  font-weight: bold;
  font-size: 32;
  line-height: 2;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

}

#crave {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  background-color: dodgerblue;
}

#progress, #bar {
  width: 75vw;
  height: 25px;
  border-radius: 50px;
  background-color: gainsboro;
}

#bar {
  background-color: #5f5;
  width: 1vw;
}
  
#daily {
  font-size: 72;
  width: 99vw;
}

button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 25px;
  background-color: lemonchiffon;
  color: black;
}

#appform {
  width: 99vw;
}

#results {
  width: 99vw;
  border: none;
  font-family: courier;
  margin: 0;
  padding: 0;
}

#save, #clear {
  font-size: 16;
}

#milestone25 {
  display: block;
  color: #5f5;
  font-weight: bold;
  font-size: 18;
}
