* {
  font-family: 'Helvetica', sans-serif;
  background-color: orange;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cave {
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  border: 3px outset gainsboro;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  background-color: lemonchiffon;
} 

.crave {
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  border: 3px outset gainsboro;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  background-color: lemonchiffon;
} 
